.env
/__pycache__
```
hypervector/__pycache__/nltk.cpython-311.pyc
hypervector/S1/Anhalter Bahnhof.txt
hypervector/S1/Birkenwerder.txt
hypervector/S1/Borgsdorf.txt
hypervector/S1/Bornholmerstraße.txt
hypervector/S1/Botanischer Garten.txt
hypervector/S1/Brandenburger Tor.txt
hypervector/S1/Feuerbachstraße.txt
hypervector/S1/Friedenau.txt
hypervector/S1/Friedrichstraße.txt
hypervector/S1/Frohnau.txt
hypervector/S1/Gesundbrunnen.txt
hypervector/S1/Hermsdorf.txt
hypervector/S1/Hohen Neuendorf.txt
hypervector/S1/Humbolthain.txt
hypervector/S1/Julius-Leber-Brücke.txt
hypervector/S1/Lehnitz.txt
hypervector/S1/Lichterfelde West.txt
hypervector/S1/Mexikoplatz.txt
hypervector/S1/Nikolassee.txt
hypervector/S1/Nordbahnhof.txt
hypervector/S1/Oranienburg.txt
hypervector/S1/Oranienburgerstraße.txt
hypervector/S1/Potsdamerplatz.txt
hypervector/S1/Rathaus Steglitz.txt
hypervector/S1/Schlachtensee.txt
hypervector/S1/Schöneberg.txt
hypervector/S1/Schönholz.txt
hypervector/S1/Sundgauerstraße.txt
hypervector/S1/Waidmannslust.txt
hypervector/S1/Wannsee.txt
hypervector/S1/Wilhelmsruh.txt
hypervector/S1/Wittenau.txt
hypervector/S1/Wollkanstraße.txt
hypervector/S1/Yorckstraße.txt
hypervector/S1/Zehlendorf.txt
hypervector/S2/Anhalter Bahnhof.txt
hypervector/S2/Attilastraße.txt
hypervector/S2/Bernau-Friedenstal.txt
hypervector/S2/Bernau.txt
hypervector/S2/Blankenburg.txt
hypervector/S2/Blankenfelde.txt
hypervector/S2/Bornholmerstraße.txt
hypervector/S2/Brandenburger Tor.txt
hypervector/S2/Buch.txt
hypervector/S2/Buckower Chaussee.txt
hypervector/S2/Friedrichstraße.txt
hypervector/S2/Gesundbrunnen.txt
hypervector/S2/Humbolthain.txt
hypervector/S2/Karow.txt
hypervector/S2/Lichtenrade.txt
hypervector/S2/Mahlow.txt
hypervector/S2/Marienfelde.txt
hypervector/S2/Nordbahnhof.txt
hypervector/S2/Oranienburgerstraße.txt
hypervector/S2/Pankow-Heinersdorf.txt
hypervector/S2/Pankow.txt
hypervector/S2/Potsdamerplatz.txt
hypervector/S2/Priesterweg.txt
hypervector/S2/Röntgental.txt
hypervector/S2/Schichauweg.txt
hypervector/S2/Südkreuz.txt
hypervector/S2/Yorckstraße.txt
hypervector/S2/Zepernick.txt
hypervector/S25/Alt-Reinickendorf.txt
hypervector/S25/Anhalter Bahnhof.txt
hypervector/S25/Bornholmerstraße.txt
hypervector/S25/Brandenburger Tor.txt
hypervector/S25/Eichborndamm.txt
hypervector/S25/Friedrichstraße.txt
hypervector/S25/Gesundbrunnen.txt
hypervector/S25/Heiligensee.txt
hypervector/S25/Henningsdorf.txt
hypervector/S25/Humbolthain.txt
hypervector/S25/Karl-Boenhoeffer-Nervenklinik.txt
hypervector/S25/Lankwitz.txt
hypervector/S25/Lichterfelde Ost.txt
hypervector/S25/Lichterfelde Süd.txt
hypervector/S25/Nordbahnhof.txt
hypervector/S25/Oranienburgerstraße.txt
hypervector/S25/Osdorferstraße.txt
hypervector/S25/Potsdamerplatz.txt
hypervector/S25/Priesterweg.txt
hypervector/S25/Schönholz.txt
hypervector/S25/Schulzendorf.txt
hypervector/S25/Südende.txt
hypervector/S25/Südkreuz.txt
hypervector/S25/Tegel.txt
hypervector/S25/Teltow Stadt.txt
hypervector/S25/Wollkanstraße.txt
hypervector/S25/Yorckstraße.txt
hypervector/S26/Anhalter Bahnhof.txt
hypervector/S26/Blankenburg.txt
hypervector/S26/Bornholmerstraße.txt
hypervector/S26/Brandenburger Tor.txt
hypervector/S26/Friedrichstraße.txt
hypervector/S26/Gesundbrunnen.txt
hypervector/S26/Humbolthain.txt
hypervector/S26/Lankwitz.txt
hypervector/S26/Lichterfelde Ost.txt
hypervector/S26/Lichterfelde Süd.txt
hypervector/S26/Nordbahnhof.txt
hypervector/S26/Oranienburgerstraße.txt
hypervector/S26/Osdorferstraße.txt
hypervector/S26/Pankow-Heinersdorf.txt
hypervector/S26/Pankow.txt
hypervector/S26/Potsdamerplatz.txt
hypervector/S26/Priesterweg.txt
hypervector/S26/Südende.txt
hypervector/S26/Südkreuz.txt
hypervector/S26/Teltow Stadt.txt
hypervector/S26/Yorckstraße.txt
hypervector/S3/Alexanderplatz.txt
hypervector/S3/Bellevue.txt
hypervector/S3/Betriebsbahnhof Rummelsburg.txt
hypervector/S3/Charlottenburg.txt
hypervector/S3/Erkner.txt
hypervector/S3/Friedrichshagen.txt
hypervector/S3/Friedrichstraße.txt
hypervector/S3/Hackescher Markt.txt
hypervector/S3/Hauptbahnhof.txt
hypervector/S3/Heerstraße.txt
hypervector/S3/Hirschgarten.txt
hypervector/S3/Jannowitzbrücke.txt
hypervector/S3/Karlshorst.txt
hypervector/S3/Köpenick.txt
hypervector/S3/Messe Süd.txt
hypervector/S3/Olympiastadion.txt
hypervector/S3/Ostbahnhof.txt
hypervector/S3/Ostkreuz.txt
hypervector/S3/Pichelsberg.txt
hypervector/S3/Rahnsdorf.txt
hypervector/S3/Rummelsburg.txt
hypervector/S3/Savignyplatz.txt
hypervector/S3/Spandau.txt
hypervector/S3/Stresow.txt
hypervector/S3/Tiergarten.txt
hypervector/S3/Warschauerstraße.txt
hypervector/S3/Westkreuz.txt
hypervector/S3/Wilhelmshagen.txt
hypervector/S3/Wuhlheide.txt
hypervector/S3/Zoologischer Garten.txt
hypervector/S41/Beusselstraße.txt
hypervector/S41/Bundesplatz.txt
hypervector/S41/Frankfurter Allee.txt
hypervector/S41/Gesundbrunnen.txt
hypervector/S41/Greifswalderstraße.txt
hypervector/S41/Halensee.txt
hypervector/S41/Heidelbergerplatz.txt
hypervector/S41/Hermannstraße.txt
hypervector/S41/Hohenzollerndamm.txt
hypervector/S41/Innsbruckerplatz.txt
hypervector/S41/Jungfernheide.txt
hypervector/S41/Landsberger Allee.txt
hypervector/S41/Messe Nord--ICC.txt
hypervector/S41/Neukölln.txt
hypervector/S41/Ostkreuz.txt
hypervector/S41/Prenzlauer Allee.txt
hypervector/S41/Schöneberg.txt
hypervector/S41/Schönhauser Allee.txt
hypervector/S41/Sonnenallee.txt
hypervector/S41/Storkowerstraße.txt
hypervector/S41/Südkreuz.txt
hypervector/S41/Tempelhof.txt
hypervector/S41/Treptower Park.txt
hypervector/S41/Wedding.txt
hypervector/S41/Westend.txt
hypervector/S41/Westhafen.txt
hypervector/S41/Westkreuz.txt
hypervector/S42/Beusselstraße.txt
hypervector/S42/Bundesplatz.txt
hypervector/S42/Frankfurter Allee.txt
hypervector/S42/Gesundbrunnen.txt
hypervector/S42/Greifswalderstraße.txt
hypervector/S42/Halensee.txt
hypervector/S42/Heidelbergerplatz.txt
hypervector/S42/Hermannstraße.txt
hypervector/S42/Hohenzollerndamm.txt
hypervector/S42/Innsbruckerplatz.txt
hypervector/S42/Jungfernheide.txt
hypervector/S42/Landsberger Allee.txt
hypervector/S42/Messe Nord.txt
hypervector/S42/Neukölln.txt
hypervector/S42/Ostkreuz.txt
hypervector/S42/Prenzlauer Allee.txt
hypervector/S42/Schöneberg.txt
hypervector/S42/Schönhauser Allee.txt
hypervector/S42/Sonnenallee.txt
hypervector/S42/Storkowerstraße.txt
hypervector/S42/Südkreuz.txt
hypervector/S42/Tempelhof.txt
hypervector/S42/Treptower Park.txt
hypervector/S42/Wedding.txt
hypervector/S42/Westend.txt
hypervector/S42/Westhafen.txt
hypervector/S42/Westkreuz.txt
hypervector/S45/Adlershof.txt
hypervector/S45/Altglienicke.txt
hypervector/S45/Baumschulenweg.txt
hypervector/S45/Bundesplatz.txt
hypervector/S45/Charlottenburg.txt
hypervector/S45/Flughafen BER.txt
hypervector/S45/Grünbergallee.txt
hypervector/S45/Halensee.txt
hypervector/S45/Heidelbergerplatz.txt
hypervector/S45/Hermannstraße.txt
hypervector/S45/Hohenzollerndamm.txt
hypervector/S45/Innsbruckerplatz.txt
hypervector/S45/Johannisthal.txt
hypervector/S45/Köllnische Heide.txt
hypervector/S45/Neuköln.txt
hypervector/S45/Schöneberg.txt
hypervector/S45/Schönefeld.txt
hypervector/S45/Schöneweide.txt
hypervector/S45/Südkreuz.txt
hypervector/S45/Tempelhof.txt
hypervector/S45/Waßmannsdorf.txt
hypervector/S46/Adlershof.txt
hypervector/S46/Baummschulenweg.txt
hypervector/S46/Bundesplatz.txt
hypervector/S46/Eichwalde.txt
hypervector/S46/Grünau.txt
hypervector/S46/Halensee.txt
hypervector/S46/Heidelbergerplatz.txt
hypervector/S46/Hermannstraße.txt
hypervector/S46/Hohenzollerndamm.txt
hypervector/S46/Innsbruckerplatz.txt
hypervector/S46/Johannisthal.txt
hypervector/S46/Köllnische Heide.txt
hypervector/S46/Königs Wusterhausen.txt
hypervector/S46/Messe Nord--ICC.txt
hypervector/S46/Neuköln.txt
hypervector/S46/Schöneberg.txt
hypervector/S46/Schöneweide.txt
hypervector/S46/Südkreuz.txt
hypervector/S46/Tempelhof.txt
hypervector/S46/Westend.txt
hypervector/S46/Westkreuz.txt
hypervector/S46/Wildau.txt
hypervector/S46/Zeuthen.txt
hypervector/S47/Baumschulenweg.txt
hypervector/S47/Hermannstraße.txt
hypervector/S47/Köllnische Heide.txt
hypervector/S47/Neuköln.txt
hypervector/S47/Oberspree.txt
hypervector/S47/Schöneweide.txt
hypervector/S47/Spindlersfeld.txt
hypervector/S5/Alexanderplatz.txt
hypervector/S5/Bellevue.txt
hypervector/S5/Biesdorf.txt
hypervector/S5/Birkenstein.txt
hypervector/S5/Charlottenburg.txt
hypervector/S5/Fredersdorf.txt
hypervector/S5/Friedrichsfelde Ost.txt
hypervector/S5/Friedrichstraße.txt
hypervector/S5/Grunewald.txt
hypervector/S5/Hackescher Markt.txt
hypervector/S5/Hauptbahnhof.txt
hypervector/S5/Hegermühle.txt
hypervector/S5/Hoppegarten.txt
hypervector/S5/Jannowitzbrücke.txt
hypervector/S5/Kaulsdorf.txt
hypervector/S5/Lichtenberg.txt
hypervector/S5/Mahlsdorf.txt
hypervector/S5/Neuenhagen.txt
hypervector/S5/Nöldnerplatz.txt
hypervector/S5/Ostbahnhof.txt
hypervector/S5/Ostkreuz.txt
hypervector/S5/Petershagen Nord.txt
hypervector/S5/Savignyplatz.txt
hypervector/S5/Strausberg Nord.txt
hypervector/S5/Strausberg Stadt.txt
hypervector/S5/Strausberg.txt
hypervector/S5/Tiergarten.txt
hypervector/S5/Warschauerstraße.txt
hypervector/S5/Westkreuz.txt
hypervector/S5/Wuhletal.txt
hypervector/S5/Zoologischer Garten.txt
hypervector/S7/Ahrensfelde.txt
hypervector/S7/Alexanderplatz.txt
hypervector/S7/Babelsberg.txt
hypervector/S7/Bellevue.txt
hypervector/S7/Charlottenburg.txt
hypervector/S7/Friedrichsfelde Ost.txt
hypervector/S7/Friedrichstraße.txt
hypervector/S7/Griebnitzsee.txt
hypervector/S7/Grunewald.txt
hypervector/S7/Hackescher Markt.txt
hypervector/S7/Hauptbahnhof.txt
hypervector/S7/Jannowitzbrücke.txt
hypervector/S7/Lichtenberg.txt
hypervector/S7/Marzahn.txt
hypervector/S7/Mehrower Allee.txt
hypervector/S7/Nikolassee.txt
hypervector/S7/Nöldnerplatz.txt
hypervector/S7/Ostbahnhof.txt
hypervector/S7/Ostkreuz.txt
hypervector/S7/Poelchaustraße.txt
hypervector/S7/Potsdam Hauptbahnhof.txt
hypervector/S7/Raoul-Wallenberg-Straße.txt
hypervector/S7/Savignyplatz.txt
hypervector/S7/Springpfuhl.txt
hypervector/S7/Tiergarten.txt
hypervector/S7/Wannsee.txt
hypervector/S7/Warschauerstraße.txt
hypervector/S7/Westkreuz.txt
hypervector/S7/Zoologischer Garten.txt
hypervector/S75/Friedrichsfelde Ost.txt
hypervector/S75/Gehrenseestraße.txt
hypervector/S75/Hohenschönhausen.txt
hypervector/S75/Lichtenberg.txt
hypervector/S75/Nöldnerplatz.txt
hypervector/S75/Ostbahnhof.txt
hypervector/S75/Ostkreuz.txt
hypervector/S75/Springpfuhl.txt
hypervector/S75/Warschauerstraße.txt
hypervector/S75/Wartenberg.txt
hypervector/S8/Adlershof.txt
hypervector/S8/Baumschulenweg.txt
hypervector/S8/Bergfelde.txt
hypervector/S8/Birkenwerder.txt
hypervector/S8/Blankenburg.txt
hypervector/S8/Bornholmerstraße.txt
hypervector/S8/Eichwalde.txt
hypervector/S8/Frankfurter Allee.txt
hypervector/S8/Greifswalderstraße.txt
hypervector/S8/Grünau.txt
hypervector/S8/Hohen Neuendorf.txt
hypervector/S8/Johannisthal.txt
hypervector/S8/Landsberger Allee.txt
hypervector/S8/Mühlenbeck-Mönchmühle.txt
hypervector/S8/Ostkreuz.txt
hypervector/S8/Pankow-Heinersdorf.txt
hypervector/S8/Pankow.txt
hypervector/S8/Plänterwald.txt
hypervector/S8/Prenzlauer Allee.txt
hypervector/S8/Schöneweide.txt
hypervector/S8/Schönfließ.txt
hypervector/S8/Schönhauser Allee.txt
hypervector/S8/Storkowerstraße.txt
hypervector/S8/Treptowerpark.txt
hypervector/S8/Wildau.txt
hypervector/S8/Zeuthen.txt
hypervector/S85/Adlershof.txt
hypervector/S85/Baumschulenweg.txt
hypervector/S85/Bornholmerstraße.txt
hypervector/S85/Frankfurter Allee.txt
hypervector/S85/Frohnau.txt
hypervector/S85/Greifswalderstraße.txt
hypervector/S85/Grünau.txt
hypervector/S85/Hermsdorf.txt
hypervector/S85/Johannisthal.txt
hypervector/S85/Landsberger Allee.txt
hypervector/S85/Ostkreuz.txt
hypervector/S85/Plänterwald.txt
hypervector/S85/Prenzlauer Allee.txt
hypervector/S85/Schöneweide.txt
hypervector/S85/Schönhauser Allee.txt
hypervector/S85/Schönholz.txt
hypervector/S85/Storkowerstraße.txt
hypervector/S85/Treptower Park.txt
hypervector/S85/Waidmannslust.txt
hypervector/S85/Wilhelmsruh.txt
hypervector/S85/Wittenau.txt
hypervector/S85/Wollkanstraße.txt
hypervector/S9/Adlershof.txt
hypervector/S9/Alexanderplatz.txt
hypervector/S9/Altglienicke.txt
hypervector/S9/Baumschulenweg.txt
hypervector/S9/Bellevue.txt
hypervector/S9/Charlottenburg.txt
hypervector/S9/Flughafen BER.txt
hypervector/S9/Friedrichstraße.txt
hypervector/S9/Grünbergallee.txt
hypervector/S9/Grunewald.txt
hypervector/S9/Hackescher Markt.txt
hypervector/S9/Hauptbahnhof.txt
hypervector/S9/Heerstraße.txt
hypervector/S9/Jannowitzbrücke.txt
hypervector/S9/Johannisthal.txt
hypervector/S9/Messe Süd.txt
hypervector/S9/Olympiastadion.txt
hypervector/S9/Ostbahnhof.txt
hypervector/S9/Pichelsberg.txt
hypervector/S9/Plänterwald.txt
hypervector/S9/Savignyplatz.txt
hypervector/S9/Schönefeld.txt
hypervector/S9/Schöneweide.txt
hypervector/S9/Spandau.txt
hypervector/S9/Stresow.txt
hypervector/S9/Tiergarten.txt
hypervector/S9/Treptower Park.txt
hypervector/S9/Warschauerstraße.txt
hypervector/S9/Waßmannsdorf.txt
hypervector/S9/Westkreuz.txt
hypervector/S9/Zoologischer Garten.txt
hypervector/U1/Gleisdreieck.txt
hypervector/U1/Görlitzer Bahnhof.txt
hypervector/U1/Hallesches Tor.txt
hypervector/U1/Kottbusser Tor.txt
hypervector/U1/Kurfürstendamm.txt
hypervector/U1/Kurfürstenstr.txt
hypervector/U1/Möckernbrücke.txt
hypervector/U1/Nollendorfplatz.txt
hypervector/U1/Prinzenstraße.txt
hypervector/U1/Schlesisches Tor.txt
hypervector/U1/Uhlandstraße.txt
hypervector/U1/Warschauerstraße.txt
hypervector/U1/Wittenbergplatz.txt
hypervector/U2/Alexanderplatz.txt
hypervector/U2/Bismarckstraße.txt
hypervector/U2/Bülowstraße.txt
hypervector/U2/Deutsche Oper.txt
hypervector/U2/Eberswalderstraße.txt
hypervector/U2/Ernst-Reuter-Platz.txt
hypervector/U2/Gleisdreieck.txt
hypervector/U2/Hausvogteiplatz.txt
hypervector/U2/Kaiserdamm.txt
hypervector/U2/Klosterstraße.txt
hypervector/U2/Märkisches Museum.txt
hypervector/U2/Mendelssohn-Bartholdy-Park.txt
hypervector/U2/Mohrenstraße.txt
hypervector/U2/Neu-Westend.txt
hypervector/U2/Nollendorfplatz.txt
hypervector/U2/Olympia-Stadion.txt
hypervector/U2/Pankow.txt
hypervector/U2/Potsdamer Platz.txt
hypervector/U2/Rosa-Luxemburg-Platz.txt
hypervector/U2/Ruhleben.txt
hypervector/U2/Schönhauser Allee.txt
hypervector/U2/Senefelderplatz.txt
hypervector/U2/Sophie-Charlotte-Platz.txt
hypervector/U2/Spittelmarkt.txt
hypervector/U2/Stadtmitte.txt
hypervector/U2/Theodor-Heuss-Platz.txt
hypervector/U2/Vinetastraße.txt
hypervector/U2/Wittenbergplatz.txt
hypervector/U2/Zoologischer Garten.txt
hypervector/U3/Augsburgerstraße.txt
hypervector/U3/Breitenbachplatz.txt
hypervector/U3/Dahlem-Dorf.txt
hypervector/U3/Fehrbelliner Platz.txt
hypervector/U3/Freie Universität (Thielplatz).txt
hypervector/U3/Gleisdreieck.txt
hypervector/U3/Görlitzer Bahnhof.txt
hypervector/U3/Hallesches Tor.txt
hypervector/U3/Heidelberger Platz.txt
hypervector/U3/Hohenzollernplatz.txt
hypervector/U3/Kottbusser Tor.txt
hypervector/U3/Krumme Lanke.txt
hypervector/U3/Kurfürstenstraße.txt
hypervector/U3/Möckernbrücke.txt
hypervector/U3/Nollendorfplatz.txt
hypervector/U3/Onkel Toms Hütte.txt
hypervector/U3/Oskar-Helene-Heim.txt
hypervector/U3/Podbielskiallee.txt
hypervector/U3/Prinzenstraße.txt
hypervector/U3/Rüdesheimer Platz.txt
hypervector/U3/Schlesisches Tor.txt
hypervector/U3/Spichernstraße.txt
hypervector/U3/Warschauerstraße.txt
hypervector/U3/Wittenbergplatz.txt
hypervector/U4/Bayerischer Platz.txt
hypervector/U4/Innsbrucker Platz.txt
hypervector/U4/Nollendorfplatz.txt
hypervector/U4/Rathaus Schöneberg.txt
hypervector/U4/Viktoria-Luise-Platz.txt
hypervector/U5/Alexanderplatz.txt
hypervector/U5/Biesdorf-Süd.txt
hypervector/U5/Brandenburger Tor.txt
hypervector/U5/Bundestag.txt
hypervector/U5/Cottbusser Platz.txt
hypervector/U5/Elsterwerdaer Platz.txt
hypervector/U5/Frankfurter Allee.txt
hypervector/U5/Frankfurter Tor.txt
hypervector/U5/Friedrichsfelde.txt
hypervector/U5/Hauptbahnhof.txt
hypervector/U5/Hellersdorf.txt
hypervector/U5/Hönow.txt
hypervector/U5/Kaulsdorf-Nord.txt
hypervector/U5/Kienberg (Gärten der Welt).txt
hypervector/U5/Lichtenberg.txt
hypervector/U5/Louis-Lewin-Str..txt
hypervector/U5/Magdalenenstraße.txt
hypervector/U5/Museumsinsel.txt
hypervector/U5/Rotes Rathaus.txt
hypervector/U5/Samariterstraße.txt
hypervector/U5/Schillingstraße.txt
hypervector/U5/Strausberger Platz.txt
hypervector/U5/Tierpark.txt
hypervector/U5/Unter den Linden.txt
hypervector/U5/Weberwiese.txt
hypervector/U5/Wuhletal.txt
hypervector/U6/Afrikanischestraße.txt
hypervector/U6/Alt-Mariendorf.txt
hypervector/U6/Alt-Tegel.txt
hypervector/U6/Alt-Tempelhof.txt
hypervector/U6/Borsigwerke.txt
hypervector/U6/Friedrichstraße.txt
hypervector/U6/Hallesches Tor.txt
hypervector/U6/Holzhauserstraße.txt
hypervector/U6/Kaiserin-Augusta-Str..txt
hypervector/U6/Kochstraße--Checkpoint Charlie.txt
hypervector/U6/Kurt-Schumacher-Platz.txt
hypervector/U6/Leopoldplatz.txt
hypervector/U6/Mehringdamm.txt
hypervector/U6/Naturkundemuseum.txt
hypervector/U6/Oranienburger Tor.txt
hypervector/U6/Otisstraße.txt
hypervector/U6/Paradestraße.txt
hypervector/U6/Platz der Luftbrücke.txt
hypervector/U6/Rehberge.txt
hypervector/U6/Scharnweberstraße.txt
hypervector/U6/Schwartzkopffstraße.txt
hypervector/U6/Seestraße.txt
hypervector/U6/Sellerstraße--Reinickendorferstraße.txt
hypervector/U6/Stadtmitte.txt
hypervector/U6/Tempelhof.txt
hypervector/U6/Ullsteinstraße.txt
hypervector/U6/Unter den Linden.txt
hypervector/U6/Wedding.txt
hypervector/U6/Westphalweg.txt
hypervector/U7/Adenauerplatz.txt
hypervector/U7/Altstadt Spandau.txt
hypervector/U7/Bayerischer Platz.txt
hypervector/U7/Berlinerstraße.txt
hypervector/U7/Bismarckstraße.txt
hypervector/U7/Blaschkoallee.txt
hypervector/U7/Blissestraße.txt
hypervector/U7/Britz-Süd.txt
hypervector/U7/Eisenacherstraße.txt
hypervector/U7/Fehrbelliner Platz.txt
hypervector/U7/Gneisenaustraße.txt
hypervector/U7/Grenzallee.txt
hypervector/U7/Halemweg.txt
hypervector/U7/Haselhorst.txt
hypervector/U7/Hermannplatz.txt
hypervector/U7/Jakob-Kaiser-Platz.txt
hypervector/U7/Johannisthaler Chaussee.txt
hypervector/U7/Jungfernheide.txt
hypervector/U7/Karl-Marx-Str..txt
hypervector/U7/Kleistpark.txt
hypervector/U7/Konstanzerstraße.txt
hypervector/U7/Lipschitzallee.txt
hypervector/U7/Mehringdamm.txt
hypervector/U7/Mierendorffplatz.txt
hypervector/U7/Möckernbrücke.txt
hypervector/U7/Neukölln.txt
hypervector/U7/Parchimer Allee.txt
hypervector/U7/Paulsternstraße.txt
hypervector/U7/Rathaus Neukölln.txt
hypervector/U7/Rathaus Spandau.txt
hypervector/U7/Richard-Wagner-Platz.txt
hypervector/U7/Rohrdamm.txt
hypervector/U7/Rudow.txt
hypervector/U7/Siemensdamm.txt
hypervector/U7/Südstern.txt
hypervector/U7/Wilmersdorferstraße.txt
hypervector/U7/Wutzkyallee.txt
hypervector/U7/Yorckstraße.txt
hypervector/U7/Zitadelle.txt
hypervector/U7/Zwickauer Damm.txt
hypervector/U8/Alexanderplatz.txt
hypervector/U8/Bernauerstraße.txt
hypervector/U8/Boddinstraße.txt
hypervector/U8/Franz-Neumann-Platz.txt
hypervector/U8/Gesundbrunnen.txt
hypervector/U8/Heinrich-Heine-Straße.txt
hypervector/U8/Hermannplatz.txt
hypervector/U8/Hermannstraße.txt
hypervector/U8/Jannowitzbrücke.txt
hypervector/U8/Karl-Bonhoeffer-Nervenklinik.txt
hypervector/U8/Kottbusser Tor.txt
hypervector/U8/Leinestraße.txt
hypervector/U8/Lindauer Allee.txt
hypervector/U8/Moritzplatz.txt
hypervector/U8/Osloerstraße.txt
hypervector/U8/Pankstraße.txt
hypervector/U8/Paracelsus-Bad.txt
hypervector/U8/Rathaus Reinickendorf.txt
hypervector/U8/Residenzstraße.txt
hypervector/U8/Rosenthaler Platz.txt
hypervector/U8/Schönleinstraße.txt
hypervector/U8/Voltastraße.txt
hypervector/U8/Weinmeisterstraße.txt
hypervector/U8/Wittenau.txt
hypervector/U9/Amrumerstraße.txt
hypervector/U9/Berlinerstraße.txt
hypervector/U9/Birkenstraße.txt
hypervector/U9/Bundesplatz.txt
hypervector/U9/Friedrich-Wilhelm-Platz.txt
hypervector/U9/Güntzelstraße.txt
hypervector/U9/Hansaplatz.txt
hypervector/U9/Kurfürstendamm.txt
hypervector/U9/Leopoldplatz.txt
hypervector/U9/Nauener Platz.txt
hypervector/U9/Osloerstraße.txt
hypervector/U9/Rathaus Steglitz.txt
hypervector/U9/Schloßstraße.txt
hypervector/U9/Spichernstraße.txt
hypervector/U9/Turmstraße.txt
hypervector/U9/Walther-Schreiber-Platz.txt
hypervector/U9/Westhafen.txt
hypervector/U9/Zoologischer Garten.txt
hypervector/.DS_Store
messages_and_times.json
.DS_Store
main2.py
hypervector/alphabet.txt
main.py
