.env
/__pycache__
```
.DS_Store
/hypervector
/models
.vscode/settings.json
data/__pycache__/ANNOTATED_MESSAGES_LSTM.cpython-311.pyc
NER/models/spancat-best/config.cfg
NER/models/spancat-best/meta.json
NER/models/spancat-best/tokenizer
NER/models/spancat-best/spancat/cfg
NER/models/spancat-best/spancat/model
NER/models/spancat-best/tok2vec/cfg
NER/models/spancat-best/tok2vec/model
NER/models/spancat-best/vocab/key2row
NER/models/spancat-best/vocab/lookups.bin
NER/models/spancat-best/vocab/strings.json
NER/models/spancat-best/vocab/vectors
NER/models/spancat-best/vocab/vectors.cfg
NER/models/ner-best/config.cfg
NER/models/ner-best/meta.json
NER/models/ner-best/tokenizer
NER/models/ner-best/ner/cfg
NER/models/ner-best/ner/model
NER/models/ner-best/ner/moves
NER/models/ner-best/tok2vec/cfg
NER/models/ner-best/tok2vec/model
NER/models/ner-best/vocab/key2row
NER/models/ner-best/vocab/lookups.bin
NER/models/ner-best/vocab/strings.json
NER/models/ner-best/vocab/vectors
NER/models/ner-best/vocab/vectors.cfg
